@font-face {
  font-family: 'OpenSans-Bold';
  src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(./assets/fonts/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(./assets/fonts/OpenSans-Light.ttf);
}

:root {
  --main-font: 'OpenSans-Regular';
  --font-bold: 'OpenSans-Bold';
  --font-medium: 'OpenSans-Semibold';
  --font-black: 'OpenSans-Bold';
  --main-color: #2c2c2c;
  --color-text-white: rgba(255, 255, 255, 0.8);
  --color-text-secondry: rgb(255, 103, 156);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
  scroll-behavior: smooth;
}

h1,
.h1 {
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  font-family: var(--font-medium);
  color: var(--color-text-white);
}

h2,
.h2 {
  font-size: 18px;
  line-height: 26px;
  color: var(--color-text-white);
  font-family: var(--font-medium);
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

span,
.span {
  font-size: 14px;
  font-family: var(--font-medium);
  font-weight: 400;
  line-height: 20px;
  color: var(--color-text-white);
}
